body {
    font-family: 'Karla', sans-serif;
    background-image: url('/css/bg-images/comic-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Center wrapper for all content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #f4f0ff;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    background: #b76ef1;
    color: #fefcf9;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* For Chrome, Safari, Opera */
input::-webkit-input-placeholder {
    color: #fefcf9;
    opacity: 0.7;
}

/* Standard placeholder */
input[type="text"]::placeholder {
    color: #fefcf9;
    opacity: 0.7;
}

/* For Internet Explorer 10-11 */
input[type="text"]:-ms-input-placeholder {
    color: #fefcf9;
    opacity: 0.7;
}

/* For Microsoft Edge */
input[type="text"]::-ms-input-placeholder {
    color: #fefcf9;
    opacity: 0.7;
}

/* For Firefox 19+ */
input[type="text"]::-moz-placeholder {
    color: #fefcf9;
    opacity: 0.7;
}

button {
    padding: 10px 20px;
    background: #f78181;
    color: #f4f0ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #fc9a9a;
    color: #f4f0ff;
}

.speechBubble {
    background-image: url('/css/bg-images/comicbubble.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 400px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    resize: none;
    flex-wrap: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

.aiResponse {
    color: #444;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    padding-top: 70px;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

.aiResponse::-webkit-scrollbar {
    width: 8px;
}

.aiResponse::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.aiResponse::-webkit-scrollbar-track {
    background: transparent;
}

.flat-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px 0;
}

.flat-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.flat-nav li {
    margin-right: 5px;
}

.flat-nav a {
    background-color: #65c8ba;
    text-decoration: none;
    color: #f4f0ff;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
}

.flat-nav a:hover {
    background-color: #62d8c8;
    color: #f4f0ff;
}

/* Settings Page */

.settings {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.theme {
    font-family: 'Karla', sans-serif;
    color: #5b4636;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 1.8em;
}

select {
    width: 200px;
    padding: 10px;
    background: #65c8ba;
    color: #fefcf9;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.saveTheme {
    padding: 10px 20px;
    background: #b76ef1;
    color: #fefcf9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saveTheme:hover {
    background: #c886fe;
    color: #f4f0ff;
}